/*
    GENERIC ATTRIBUTES
*/
.button {
    -fx-background-color: linear-gradient(#888888, #000000);
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-font-weight: bold;
}
.button:hover {
    -fx-background-color: linear-gradient(#777777, #444444);
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-font-weight: bold;
}
.button:pressed {
    -fx-background-color: linear-gradient(#999999, #CCCCCC);
    -fx-text-fill: #000000;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-border-color: #000000;
    -fx-font-weight: bold;
}

/*
    UNIQUE ATTRIBUTES
*/
#backButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}
#backButton:hover {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: linear-gradient(#333333, #777777);
    -fx-font-weight: bold;
}
#backButton:pressed {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: linear-gradient(#AAAAAA, #AAAAAA);
    -fx-font-weight: bold;
}

#background {
    -fx-background-image: url("../images/Background/background_gray.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#background_sharp {
    -fx-background-image: url("../images/Background/background_lightGray_sharp.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#transaction_log {
    -fx-background-image: url("../images/Background/background_lightGray_sharp.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-effect: dropshadow(gaussian, #0000005b, 0, 0, 2, 2);
}